body{
  text-align: -webkit-center;
}

.glyphicon{
  display: inline-flex;
  float:left;
}

.glyphicon-plus:before{
  margin-right: 8px;
}

/* #delete-table{
  font-size: 12px;
} */

.glyphicon-plus:hover{
  color: pink;
}

/* th,td {
    text-align: center;
    border-bottom: 1px solid black;
} */
div{
  margin-left: 39px;
  float:left;
}

input{
  width: 100px;
  border-radius: 5px;
}

button{
  border-radius: 5px;
}

/* .ui-datepicker{
  width: 200px;
}

.dropdown-toggle{

} */

ul{
  list-style: none;
}
li{
  float:left;
  margin-right: 55px;
}
.add-table{
  margin: none;
}
