.glyphicon-plus,
#delete-table{
    width: 30%;
}

#delete-table{
  font-size: 12px;
}

.glyphicon-plus:hover{
  color: pink;
}

th,td {
    text-align: center;
    border-bottom: 1px solid black;
}

th{
  width: 100px;
}


input{
  width: 70%;
  border-radius: 5px;
}

button{
  border-radius: 5px;
}
