
header {
  height: 150px;
}

.input_box {
  display: inline;
}

.select2-container .select2-selection--single {
  height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
}
